<div *ngFor="let post of posts" class="blog-post">
    <h4 class="title my-5">{{ post.title.rendered | stripHtml}}</h4>
    <p class="blog-post-excerpt" [innerHTML]="post.excerpt.rendered | stripHtml"></p>

    <div class="cta">
      
        <a class="button" [routerLink]="['/blog', post.slug]">Lire la suite</a>
    </div>
</div>

<nav>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" (click)="previousPage()" [ngClass]="{ 'disabled': currentPage === 1 }">Précédent</a>
        </li>
        <li class="page-item">
            <a class="page-link" (click)="nextPage()">Suivant</a>
        </li>
    </ul>
</nav>