<div class="d-flex flex-column section-5-div mt-2 mb-3 mx-5 px-5">
    <footer>
        <div class="d-flex mb-2 mt-3 mx-5">
            <div class="me-auto logo"><a class="section-5-title" href="/">ANYBUDDY</a></div>
            <div class="d-flex flex-column">
                <div><a href="https://www.instagram.com/anybuddy_app" target="_blank" rel="noopener noreferrer"><img
                            loading="lazy" alt="Instagram"
                            src="https://res.cloudinary.com/anybuddy/image/upload/f_auto/v1677168593/assets/social/instagram-icon.png"
                            class="social-network-icon"></a><!----><!----><a href="https://www.facebook.com/anybuddyapp"
                        target="_blank" rel="noopener noreferrer"><img loading="lazy" alt="Facebook"
                            src="https://res.cloudinary.com/anybuddy/image/upload/f_auto/v1677168593/assets/social/facebook-icon.png"
                            class="social-network-icon"></a><!----><!----><a
                        href="https://www.linkedin.com/company/anybuddy" target="_blank" rel="noopener noreferrer"><img
                            loading="lazy" alt="Linkedin"
                            src="https://res.cloudinary.com/anybuddy/image/upload/f_auto/v1677168593/assets/social/linkedin-icon.png"
                            class="social-network-icon"></a><!----><a href="https://twitter.com/anybuddy_app"
                        target="_blank" rel="noopener noreferrer"><img loading="lazy" alt="Twitter"
                            src="https://res.cloudinary.com/anybuddy/image/upload/f_auto/v1677168593/assets/social/twitter-icon.png"
                            class="social-network-icon"></a><!----></div>
                <div class="align-self-end follow-us-text me-1 mt-2"> SUIVEZ-NOUS
                </div>
            </div>
        </div><!----><!---->
        <div class="d-flex flex-column mx-3 mt-5 mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="column-stack-footer">
                        <ul class="ul-footer">
                            <li class="li-header-footer">À propos d'Anybuddy</li>
                            <li><a href="/a-propos/" class="footer-link">Qui sommes-nous ?</a><!----></li>
                            <li><a href="https://support.anybuddyapp.com/fr/" class="footer-link">contact /
                                    support</a><!----><!----></li>
                            <li><a href="/conditions-generales/" class="footer-link">Conditions
                                    générales</a><!----><!----></li>
                            <li><a href="/espace-presse/" class="footer-link">Communiqué de presse</a><!----></li>
                            <li><a href="https://support.anybuddyapp.com/fr/" class="footer-link">FAQ</a><!----><!---->
                            </li>
                        </ul>
                        <ul class="ul-footer">
                            <li class="li-header-footer">Devenir partenaire</li>
                            <li><a href="https://pro.anybuddyapp.com/inscription" class="footer-link">Ajouter votre
                                    club</a></li>
                            <li><a href="/clubs-partenaires/" class="footer-link">Nos clubs partenaires</a><!----></li>
                            <li><a href="/top-7-des-logiciels-de-reservations/" class="footer-link">Top logiciels
                                    réservations</a><!----></li>
                            <li><a href="/les-controles-dacces-pour-votre-club/" class="footer-link">Contrôle d'accès
                                    club</a><!----></li>
                        </ul>
                        <ul class="ul-footer">
                            <li class="li-header-footer">Blog</li>
                            <li><a class="footer-link" href="/blog">Blog</a></li>
                        </ul><!---->
                        <ul class="ul-footer">
                            <li class="li-header-footer">On recrute !</li>
                            <li><a href="https://www.indeedjobs.com/anybuddy" target="_blank" class="footer-link">On
                                    recrute !</a></li>
                        </ul><!---->
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div><!----><!---->
        <div class="d-flex flex-column mx-5 mb-3">
            <div class="d-flex download-app-text mb-3"> Télécharge gratuitement
                l'application </div>
            <div class="d-flex" style="margin-bottom: 9%;"><a target="_blank" rel="noopener noreferrer"
                    href="https://itunes.apple.com/fr/app/anybuddy/id1159088112?mt=8"><img alt="App Store"
                        loading="lazy" class="store-img-footer"
                        src="../../assets/play-store-badge-fr.png"></a><a target="_blank"
                    rel="noopener noreferrer"
                    href="https://play.google.com/store/apps/details?id=com.anybuddyapp.anybuddy&amp;hl=fr"><img
                        alt="Play Store" loading="lazy" class="store-img-footer"
                        src="../../assets/app-store-badge-fr.png"></a>
            </div>
        </div>
    </footer>
</div>