<header class="header">
    <div class="search-back-ground">
        <div class="container">
            <nav class="navbar">
                <a class="navbar-brand">
                    <img src="https://res.cloudinary.com/anybuddy/image/upload/f_auto/v1677169402/assets/logo/LOGO.png"
                        alt="Logo Anybuddy" class="logo-anybuddy">
                </a>
                <div class="top-nav-bar">
                    <button class="navbar-btn navbar-btn-yellow">Télécharger l'app</button>
                    <button class="navbar-btn navbar-btn-yellow">Ajouter votre club</button>
                    <button class="navbar-btn navbar-btn-yellow">Mon Compte</button>
                </div>
            </nav>
            <div class="d-flex justify-content-center align-self-center section-1-form-div m-auto">
                <div class="align-self-center section-1-form">
                    <div class="title-section-1 mb-4"> Réserve un terrain à la carte,
                        à la cool et sans licence ! </div>
                    <div class="d-flex search-div justify-content-center"><label for="book-facility"
                            style="color: #ffc10742; width: 0%;">.</label><input id="book-facility" autocomplete="off"
                            name="book-facility" class="search-input" placeholder="Ville ou nom de club"><button
                            class="btn-localise"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36"
                                height="36">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path _ngcontent-websitebooking-c167=""
                                    d="M13 22C7.477 22 3 17.523 3 12S7.477 2 13 2s10 4.477 10 10-4.477 10-10 10zM8 11.5l4 1.5 1.5 4.002L17 8l-9 3.5z"
                                    fill="rgba(140,111,255,1)"></path>
                            </svg></button></div>
                    <div class="d-flex"></div>
                </div>
            </div>
        </div>
    </div>
</header>